<div class="jumbotron show-page-user">
    <div class="container">
        <div class="row">
            <div class = "col-md-8 col-md-offset-2">
                <div class="well contact-form-border text-center" id="about-padding">
                    <h1 id="about-title">About</h1>
                    <p>Light Bulb is a responsive, Ruby on Rails job post search service that gives users a platform to sign up and put themselves out there. Users can use the application to search for employees, find great people to work for, or even find or come up with project ideas with the aim of collaborating with other interested users to form teams. Light Bulb is a subscription-based service, but users can still use the application free of charge. For a small monthly fee, the subscription model allows subscribers to view the contact information that users have provided in their profile to get in touch with them. Free users cannot see other users' contact information. The application has been fully configured to handle monthly payments through the Stripe API.</p>
                </div>
            </div>
        </div>
    </div>
</div>    