<div class="jumbotron text-center">
    <div class="container">
        <div class="row">
            <br>
            <br>
            <br>
            <div class="col-md-6">
                <div class="well">
                    <h3 class="text-center">Free Membership</h3>
                    <h4>Sign up for a free account to get basic Club access to view everyone's ideas.</h4>
                    <%= link_to "Go Free", new_user_registration_path(plan: @free_plan.id), class: "btn btn-primary btn-lg btn-block" %>
                </div>
                
            </div>
            <div class="col-md-6">
                <div class="well">
                    <h3 class="text-center">Premium Membership</h3>
                    <h4>For $2 per month, go premium to see all users' contact information.</h4>
                    <%= link_to "Go Premium", new_user_registration_path(plan: @premium_plan.id), class: "btn btn-success btn-lg btn-block" %>
                </div>
                
            </div>
            
        </div>
    </div>
</div>