@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";


.navbar.transparent.navbar-inverse {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    margin-bottom: 0px;
    position : absolute; 
    width:100%; 
    top:0; 
    left:0;
    z-index:999;
}


.jumbotron {
   margin-top: 0px;
   margin-bottom: 0px;
}

// navbar brand properties (no hover)
.navbar-brand.nav-font {
    color: white;
    font-size: 2.0em;
    font-family: "Lobster Two"
}

// navbar brand properties (no hover)
.navbar-brand.nav-font-inverted {
    color: black;
    font-size: 2.0em;
    font-family: "Lobster Two"
}

#fa-size {
    font-size: 2.0em;
}

// What happens to a navbar brand when you hover over it
.navbar-brand.nav-font:hover {
    color: white;
}

// navbar links display on homepage
.navbar-nav.nav-font li a {
    color: white;
    text-align: center;
    font-family: "Lobster Two";
    font-size: 1.6em;
    // padding-left: 2em;
    // padding-right: 2em;
    width: 6em;
    height: 3em;
    display: block;
    line-height: 35px;
    -o-transition:.6s;
    -ms-transition:.6s;
    -moz-transition:.6s;
    -webkit-transition:.6s;
    transition: .6s;
}

// navbar links display on other pages
.navbar-nav.nav-font-inverted li a {
    color: black;
    text-align: center;
    font-family: "Lobster Two";
    font-size: 1.6em;
    // padding-left: 2em;
    // padding-right: 2em;
    width: 6em;
    height: 3em;
    display: block;
    line-height: 35px;
    -o-transition:.6s;
    -ms-transition:.6s;
    -moz-transition:.6s;
    -webkit-transition:.6s;
    transition: .6s;
}

// navbar link and background properties on homepage
.navbar-nav.nav-font li a:hover {
    color: black;
    background: rgba(255,255,255, 0.7);
}

// navbar link and background properties on homepage
.navbar-nav.nav-font-inverted li a:hover {
    color: white;
    background: rgba(0,0,0, 0.5);
}

// What happens to a navbar brand when you hover over it
.navbar-brand.nav-font-inverted:hover {
    color: black;
}

.contact-padding {
    margin-top: 5em;
}

.form-dimensions-contact {
    height: 40px;
}

.contact-form-border {
    border-radius: 25px;
    // color: rgba(130, 130, 130, 0.5);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    // opacity: 0.9;
    background: rgba(255,255,255,0.2);
}

.jumbotron.homepage{
    height: 100vh;
    background-image: url(1.jpg);
    // background-image: url(https://images.unsplash.com/photo-1456996290209-634ae6b8be31?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=10383ac3bab8cf49c95a064141a1a37b);
    // background-image: url(https://images.unsplash.com/photo-1437419764061-2473afe69fc2?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=76fba3bdb1e04cb26a02000be2fe7740);
    background-position: 0% 80%;
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbotron.contacts{
    height: 100vh;
    background-image: url(2.jpg);
    background-position: 0% 80%;
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbotron.show-page-user {
    height: 100vh;
    background-image: url(2.jpg);
    background-position: 100% 100%;
    background-size: cover;
    background-repeat: no-repeat;    
}

#lightbulb-greeting-start {
    font-family: "Lobster Two";
    color: rgba(255,255,255,0.9);
    font-size: 4em;
    text-shadow: 2px 2px 30px rgba(150, 150, 150, 0.89);
}

#lightbulb-greeting {
    font-family: "Lobster Two";
    color: rgba(255,255,255,0.9);
    font-size: 20em;
    text-shadow: 2px 2px 30px rgba(150, 150, 150, 0.89);
}

.navbar-inverse .navbar-toggle {
    background-color: black;
}

#plans-positioning {
    margin-top: 2em;
    color: white;
}

// .navbar-inverse .navbar-toggle:hover {
//     background-color: white;
// }

// .navbar-default .navbar-toggle .icon-bar:hover {
//     color: white;
// }

#job-icon {

}

.img-style {
    border-radius: 50%;
    float: left;
    width: 100px;
    height: 100px;
    box-shadow: 0px 6px 4px 0px rgba(50,50,50,0.75);
}

.container.intro-position {

}

#job-span {
    position: relative;
    top: -0.5em;
}

#somea {
    position: relative;
    top: -0.2em;
    left: -0.3em;
    font-family: "Lobster Two";
    font-size: 5em;
}









@media only screen and (max-width : 768px) {
       .navbar-collapse li a { background: rgba(255,255,255,0.4); }
}

















@media screen and (max-width: 1206px) {
    #lightbulb-greeting {
        font-family: "Lobster Two";
        color: rgba(255,255,255,0.9);
        font-size: 15em;
        text-shadow: 2px 2px 30px rgba(150, 150, 150, 0.89);
    }
    
    #lightbulb-greeting-start {
        font-family: "Lobster Two";
        color: rgba(255,255,255,0.9);
        font-size: 3em;
        text-shadow: 2px 2px 30px rgba(150, 150, 150, 0.89);
    }
}

@media screen and (max-width: 990px) {
    #lightbulb-greeting {
        font-family: "Lobster Two";
        color: rgba(255,255,255,0.9);
        font-size: 10em;
        text-shadow: 2px 2px 30px rgba(150, 150, 150, 0.89);
    }
    
    #lightbulb-greeting-start {
        font-family: "Lobster Two";
        color: rgba(255,255,255,0.9);
        font-size: 2em;
        text-shadow: 2px 2px 30px rgba(150, 150, 150, 0.89);
    }
}

@media screen and (max-width: 980px) {
    #lightbulb-greeting {
        font-family: "Lobster Two";
        color: rgba(255,255,255,0.9);
        font-size: 10em;
        text-shadow: 2px 2px 30px rgba(150, 150, 150, 0.89);
    }
    
    #lightbulb-greeting-start {
        font-family: "Lobster Two";
        color: rgba(255,255,255,0.9);
        font-size: 2em;
        text-shadow: 2px 2px 30px rgba(150, 150, 150, 0.89);
    }
}

@media screen and (max-width: 960px) {
    #lightbulb-greeting {
        font-family: "Lobster Two";
        color: rgba(255,255,255,0.9);
        font-size: 10em;
        text-shadow: 2px 2px 30px rgba(150, 150, 150, 0.89);
    }
    
    #lightbulb-greeting-start {
        font-family: "Lobster Two";
        color: rgba(255,255,255,0.9);
        font-size: 2em;
        text-shadow: 2px 2px 30px rgba(150, 150, 150, 0.89);
    }
}


@media screen and (max-width: 580px) {
    #lightbulb-greeting {
        margin-top: 1em;
        font-family: "Lobster Two";
        color: rgba(255,255,255,0.9);
        font-size: 8em;
        text-shadow: 2px 2px 30px rgba(150, 150, 150, 0.89);
    }
    
    #lightbulb-greeting-start {
        margin-top: 1em;
        font-family: "Lobster Two";
        color: rgba(255,255,255,0.9);
        font-size: 2em;
        text-shadow: 2px 2px 30px rgba(150, 150, 150, 0.89);
    }
}

@media screen and (max-width: 490px) {
    #lightbulb-greeting {
        margin-top: 1em;
        font-family: "Lobster Two";
        color: rgba(255,255,255,0.9);
        font-size: 6em;
        text-shadow: 2px 2px 30px rgba(150, 150, 150, 0.89);
    }
    
    #lightbulb-greeting-start {
        margin-top: 1em;
        font-family: "Lobster Two";
        color: rgba(255,255,255,0.9);
        font-size: 2em;
        text-shadow: 2px 2px 30px rgba(150, 150, 150, 0.89);
    }
}

@media screen and (max-height: 330px) {
    #lightbulb-greeting {
        font-family: "Lobster Two";
        color: rgba(255,255,255,0.9);
        font-size: 8em;
        text-shadow: 2px 2px 30px rgba(150, 150, 150, 0.89);
    }
    
    #lightbulb-greeting-start {
        font-family: "Lobster Two";
        color: rgba(255,255,255,0.9);
        font-size: 2em;
        text-shadow: 2px 2px 30px rgba(150, 150, 150, 0.89);
    }
}

@media screen and (min-height: 1200px) {
    #lightbulb-greeting {
        font-family: "Lobster Two";
        color: rgba(255,255,255,0.9);
        font-size: 6em;
        text-shadow: 2px 2px 30px rgba(150, 150, 150, 0.89);
    }
    
    #lightbulb-greeting-start {
        font-family: "Lobster Two";
        color: rgba(255,255,255,0.9);
        font-size: 2em;
        text-shadow: 2px 2px 30px rgba(150, 150, 150, 0.89);
    }
}



